body {
    margin: 0;
background-color: aquamarine;
}

header,
main > section:nth-child(1)
main > section:nth-child(2) {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}

main {
margin-top: 60px;
}

main > section + section {
    margin-top: 60px;
}

div {
    float: left;
    width: 15%;
    background-color: violet;
}

img {
    float: right;
    width: 35%;
    }

    section:nth-child(2) {
        width: 800px;
    margin-left: calc(50% - 400px);
        background-color: red;
    }

    section:nth-child(3) {
        width: 800px;
    margin-left: calc(50% - 400px);
        background-color: royalblue;
    }

    main > section + section {
        margin-top: 60px;
    }

 